<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LMS_V3</display-name>
  <welcome-file-list>
    <welcome-file>GetOtp.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.admin.userManagement.web.EmployeeServlet</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmpoyee</display-name>
    <servlet-name>GetAllEmpoyee</servlet-name>
    <servlet-class>com.admin.userManagement.web.GetAllEmpoyee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmpoyee</servlet-name>
    <url-pattern>/GetAllEmpoyee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployServlet</display-name>
    <servlet-name>EditEmployServlet</servlet-name>
    <servlet-class>com.admin.userManagement.web.EditEmployServlet</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployServlet</servlet-name>
    <url-pattern>/EditEmployServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployServlet2</display-name>
    <servlet-name>EditEmployServlet2</servlet-name>
    <servlet-class>com.admin.userManagement.web.EditEmployServlet2</servlet-class>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployServlet2</servlet-name>
    <url-pattern>/EditEmployServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetOtp</display-name>
    <servlet-name>GetOtp</servlet-name>
    <servlet-class>com.employee.auth.GetOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetOtp</servlet-name>
    <url-pattern>/GetOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingalEmployee</servlet-name>
    <jsp-file>/employ_Single2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingalEmployee</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/employ_Single3.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/employ_Single2.jsp</url-pattern>
    <url-pattern>/LeaveRequest.jsp</url-pattern>
    <url-pattern>/EmpLeaveRequest.jsp</url-pattern>
    <url-pattern>/EmployPortal.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilterOTP</filter-name>
    <filter-class>com.filters.AuthenticationFilterOTP</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilterOTP</filter-name>
    <url-pattern>/verify_otp.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilterOTP2</filter-name>
    <filter-class>com.filters.AuthenticationFilterOTP2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilterOTP2</filter-name>
    <url-pattern>/GetOtp.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilterAdmin</filter-name>
    <filter-class>com.filters.AuthenticationFilterAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilterAdmin</filter-name>
    <url-pattern>/EmployDeatils2.jsp</url-pattern>
    <url-pattern>/add_employ.jsp</url-pattern>
    <url-pattern>/editEmploy2.jsp</url-pattern>
    <url-pattern>/AllLeaveRequest.jsp</url-pattern>
    <url-pattern>/AcceptRequest.jsp</url-pattern>
    <url-pattern>/HolidayJsp/holidays.jsp</url-pattern>
    <url-pattern>/HolidayJsp/create_holidays.jsp</url-pattern>
    <url-pattern>/HolidayJsp/edit_holiday.jsp</url-pattern>
    <url-pattern>/HolidayServlet</url-pattern>
    <url-pattern>/AdminPortal.jsp</url-pattern>
    <url-pattern>/ResetLeave.jsp</url-pattern>
    <url-pattern>/ResetLeave_By_Id.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyLeave</display-name>
    <servlet-name>ApplyLeave</servlet-name>
    <servlet-class>com.admin.userManagement.web.ApplyLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyLeave</servlet-name>
    <url-pattern>/ApplyLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptLeave</display-name>
    <servlet-name>AcceptLeave</servlet-name>
    <servlet-class>com.admin.userManagement.web.AcceptLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptLeave</servlet-name>
    <url-pattern>/AcceptLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectLeaveRequest</display-name>
    <servlet-name>RejectLeaveRequest</servlet-name>
    <servlet-class>com.admin.userManagement.web.RejectLeaveRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectLeaveRequest</servlet-name>
    <url-pattern>/RejectLeaveRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HolidayServlet</display-name>
    <servlet-name>HolidayServlet</servlet-name>
    <servlet-class>com.admin.userManagement.web.HolidayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HolidayServlet</servlet-name>
    <url-pattern>/HolidayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.employee.auth.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Resendotp</display-name>
    <servlet-name>Resendotp</servlet-name>
    <servlet-class>com.employee.auth.Resendotp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Resendotp</servlet-name>
    <url-pattern>/Resendotp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveReset</display-name>
    <servlet-name>LeaveReset</servlet-name>
    <servlet-class>com.admin.userManagement.web.LeaveReset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveReset</servlet-name>
    <url-pattern>/LeaveReset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetLeaveRequestById</display-name>
    <servlet-name>ResetLeaveRequestById</servlet-name>
    <servlet-class>com.admin.userManagement.web.ResetLeaveRequestById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetLeaveRequestById</servlet-name>
    <url-pattern>/ResetLeaveRequestById</url-pattern>
  </servlet-mapping>
</web-app>